@use "./colors.scss";

@mixin shadow{
    box-shadow: 0.5rem 0.5rem 1rem colors.$gray;
}

@mixin cta{
    width: 20rem;
    height: 5rem;
    background: colors.$cyan;
    border-radius: 1rem;
    border: none;
    box-shadow: 0.5rem 0.5rem 1rem colors.$gray;
    cursor: pointer;
    color: colors.$white;
    font-size: 120%;
    font-weight: 400;
}